{% extends "core/_base.html" %}

{% block title %}Manage user permissions{% endblock title %}
{% load admin_dashboard_extras %}
{% block content %}
  <!--begin::Header-->
  {% include 'core/layouts/content_header.html' with page_name="Manage Permissions" only%}
  <!--end::Header-->
  <!--begin::App Content-->
  <div class="app-content">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Form Validation-->
        <div class="card card-info card-outline mb-4">
          <!--begin::Header-->
          <div class="card-header">
            <div class="card-title">Manage Permissions for <strong>{{ form.instance.username }}</strong></div>
          </div>
          <!--end::Header-->

          <!--begin::Form-->
          <form method="POST">
              {% csrf_token %}
            <div class="card-body">
              <div class="row g-3">          
                
                {% if perms.auth.change_permission %}
                <div class="form-group">
                  <label class="form-label">Account Status</label>

                  <div class="form-check">
                    {{ form.is_active }} 
                    <label class="form-check-label" for="{{form.is_active.id_for_label}}">Active Account</label>
                  </div>
                </div>
                {% endif %}
                <!-- begin:: Manage Groups -->
                {% if perms.auth.change_group %}
                <div class="form-group col-md-6">
                  {% comment %} <h3>Manage Groups:</h3> {% endcomment %}
                  <label class="form-label">Manage Groups</label>
                  <input type="text" id="groupSearch" class="form-control mb-2" placeholder="Search groups...">

                  <div class="scroll-check" >
                    {% for item in form.groups.field.choices %}
                      <div class="form-check group-element">
                        <input class="form-check-input" 
                        name="{{ form.groups.html_name }}" 
                        type="checkbox" 
                        value="{{ item.0 }}"  
                        {% if item.0 in form.groups.value %}checked{% endif %} 
                        id="group_{{ item.0 }}">
                        <label class="form-check-label" for="group_{{ item.0 }}">
                          {{ item.1 }} 
                        </label>
                      </div>
                    {% endfor %}
                  </div>
                </div>
                {% endif %}
                <!-- end:: Manage Groups-->
                
                <!-- begin::Permissions Checkboxes -->
                {% if perms.auth.change_permission %}
                <div class="form-group col-md-6">
                  {% comment %} <h3>Mange Permissions:</h3> {% endcomment %}
                  <label class="form-label">Manage Permissions</label>

                  <input type="text" id="permissionSearch" class="form-control mb-2" placeholder="Search permissions...">
                  <div class="scroll-check">
                    {% comment %} {% for permission in form.user_permissions.field.queryset %}
                    {% if permission.content_type.model not in "logentry session contenttype" %}  
                    {% if permission.content_type.model == 'permission' and permission.content_type not in "add_permission delete_permission" %}
                        <div class="form-check permission-element">
                            <input class="form-check-input" 
                                  name="{{ form.user_permissions.html_name }}" 
                                  type="checkbox" 
                                  value="{{ permission.id }}"  
                                  {% if permission.id in form.user_permissions.value %}checked{% endif %} 
                                  id="perm_{{ permission.id }}">
                            <label class="form-check-label" for="perm_{{ permission.id }}">
                                {{ permission.content_type.model|title }} | {{ permission.name }} 
                            </label>
                        </div>
                      {% endif %}
                    {% endif %}
                    {% endfor %} {% endcomment %}
                    {% for permission in form.user_permissions.field.queryset|filter_permissions %}
                        <div class="form-check permission-element">
                            <input class="form-check-input" 
                                  name="{{ form.user_permissions.html_name }}" 
                                  type="checkbox" 
                                  value="{{ permission.id }}"  
                                  {% if permission.id in form.user_permissions.value %}checked{% endif %} 
                                  id="perm_{{ permission.id }}">
                            <label class="form-check-label" for="perm_{{ permission.id }}">
                                {{ permission.content_type.model|title }} | {{ permission.name }} 
                            </label>
                        </div>
                    {% endfor %}
                  </div>
                </div>
                {% endif %}
                <!--end::Permissions Checkboxes-->
              </div>
            </div>

            <div class="card-footer">
              <button type="submit" class="btn btn-primary">Update Permissions</button>
              {% comment %} <button class="btn btn-secondary" type="button" onclick="window.history.back();">Cancel</button> {% endcomment %}
              <button class="btn btn-secondary" type="button" onclick="window.location.href='{% url 'admin_dashboard:staff_list' %}'">Back</button>
            </div>
          </form>
          <!--end::form-->
          
          
        </div>
        <!--end::Form Validation-->
    </div>
    <!--end::Container-->
  </div>
  <!--end::App Content-->

  <!-- Toaster alert-->
<div class="toast-container position-fixed top-0 end-0 p-3">
  {% if messages %}
  {% for message in messages %}
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header ">
        {% comment %} <img src="..." class="rounded me-2" alt="..."> {% endcomment %}
        <strong class="me-auto text-{{message.tags}}">{{message.tags}}</strong>
        {% comment %} <small>11 mins ago</small> {% endcomment %}
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        {{ message }}
      </div>
    </div>
  {% endfor %}
  {% endif %}
</div>


{% endblock content %}

{% block push_scripts %}
<!--begin::JavaScript-->
<script>
  // starter JavaScript for disabling form submissions if there are invalid fields
  (() => {
    'use strict';

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll('.needs-validation');

    // Loop over them and prevent submission
    Array.from(forms).forEach((form) => {
      form.addEventListener(
        'submit',
        (event) => {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }

          form.classList.add('was-validated');
        },
        false,
      );
    });
  })();
</script>
<script>
  $(document).ready(function () {
    $('.toast').toast({
        delay: 1000*20,
    }).toast('show')

    
    //--begin::Date validation--// 
    const ageGuard = $('#id_date_of_birth');
    const currentDate = new Date();

    // Calculate the minimum date (e.g., 18 years old)
    const minDate = new Date(currentDate);
    minDate.setFullYear(minDate.getFullYear() - 18);

    // Calculate the maximum date (e.g., 65 years old)
    const maxDate = new Date(currentDate);
    maxDate.setFullYear(maxDate.getFullYear() - 100);

    // Set the min and max attributes
    ageGuard.attr('max', minDate.toISOString().split('T')[0]);
    ageGuard.attr('min', maxDate.toISOString().split('T')[0]);
    //--eng:: Date validation--// 
});
</script>


<!-- search permission-->
<script>
  $(document).ready(function() {
    $("#permissionSearch").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $(".permission-element").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
      });
    });

    // search groups
    $("#groupSearch").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $(".group-element").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
      });
    });
  });
</script>

<!--end::JavaScript-->
{% endblock push_scripts %}