{% extends "core/_base.html" %}

{% block title %}Manage user permissions{% endblock title %}

{% block content %}
  <!--begin::Header-->
  {% include 'core/layouts/content_header.html' with page_name="Manage Permissions" only%}
  <!--end::Header-->
  <!--begin::App Content-->
  <div class="app-content">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Form Validation-->
        <div class="card card-info card-outline mb-4">
          <!--begin::Header-->
          <div class="card-header">
            <div class="card-title">Manage Permissions for {{ form.instance.username }}</div>
          </div>
          <!--end::Header-->

          <!--begin::Form-->
          <form method="POST">
              {% csrf_token %}
            <div class="card-body">
              <div class="row g-3">                
                <!-- begin::Permissions Checkboxes -->
                <div class="form-group">
                  <h3>Mange Permissions:</h3>
                  <div class="" style="max-height: 300px; overflow-y: auto; border: 1px solid #ccc; padding: 10px; border-radius:6px">
                    {% for permission in form.user_permissions.field.queryset %}
                    {% if permission.content_type.model not in "logentry session contenttype" %}  
                        <div class="form-check">
                            <input class="form-check-input" 
                                  name="{{ form.user_permissions.html_name }}" 
                                  type="checkbox" 
                                  value="{{ permission.id }}"  
                                  {% if permission.id in form.user_permissions.value %}checked{% endif %} 
                                  id="perm_{{ permission.id }}">
                            <label class="form-check-label" for="perm_{{ permission.id }}">
                                {{ permission.content_type.model|title }} | {{ permission.name }} 
                            </label>
                        </div>
                    {% endif %}
                    {% endfor %}
                  </div>
                </div>
                <!--end::Permissions Checkboxes-->
                <!-- begin:: Manage Groups -->
                <div class="form-group">
                  <h3>Manage Groups:</h3>
                  <div class="" style="max-height: 300px; overflow-y: auto; border: 1px solid #ccc; padding: 10px; border-radius:6px">
                    {% for item in form.groups.field.choices %}
                      <div class="form-check">
                        <input class="form-check-input" 
                        name="{{ form.groups.html_name }}" 
                        type="checkbox" 
                        value="{{ item.0 }}"  
                        {% if item.0 in form.groups.value %}checked{% endif %} 
                        id="group_{{ item.0 }}">
                        <label class="form-check-label" for="group_{{ item.0 }}">
                          {{ item.1 }} 
                        </label>
                      </div>
                    {% endfor %}
                  </div>
                </div>
                <!-- end:: Manage Groups-->
                
                <div class="form-group">
                  <div class="form-check">
                    {{ form.is_active }} 
                    <label class="form-check-label" for="{{form.is_active.id_for_label}}">Active Account</label>
                  </div>
                </div>
                

                <div class="form-group">
                  <div class="form-check mb-3">
                    {{ form.is_superuser }} 
                    <label class="form-check-label" for="{{form.is_superuser.id_for_label}}">Superuser Access</label>
                  </div>
                </div>

              </div>
            </div>

            <div class="card-footer">
              <button type="submit" class="btn btn-primary">Update Permissions</button>

            </div>
          </form>
          <!--end::form-->
          
          
        </div>
        <!--end::Form Validation-->
    </div>
    <!--end::Container-->
  </div>
  <!--end::App Content-->

  <!-- Toaster alert-->
<div class="toast-container position-fixed top-0 end-0 p-3">
  {% if messages %}
  {% for message in messages %}
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header ">
        {% comment %} <img src="..." class="rounded me-2" alt="..."> {% endcomment %}
        <strong class="me-auto text-{{message.tags}}">{{message.tags}}</strong>
        {% comment %} <small>11 mins ago</small> {% endcomment %}
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        {{ message }}
      </div>
    </div>
  {% endfor %}
  {% endif %}
</div>


{% endblock content %}

{% block push_scripts %}
<!--begin::JavaScript-->
<script>
  // starter JavaScript for disabling form submissions if there are invalid fields
  (() => {
    'use strict';

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll('.needs-validation');

    // Loop over them and prevent submission
    Array.from(forms).forEach((form) => {
      form.addEventListener(
        'submit',
        (event) => {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }

          form.classList.add('was-validated');
        },
        false,
      );
    });
  })();
</script>
<script>
  $(document).ready(function () {
    $('.toast').toast({
        delay: 1000*20,
    }).toast('show')

    
    //--begin::Date validation--// 
    const ageGuard = $('#id_date_of_birth');
    const currentDate = new Date();

    // Calculate the minimum date (e.g., 18 years old)
    const minDate = new Date(currentDate);
    minDate.setFullYear(minDate.getFullYear() - 18);

    // Calculate the maximum date (e.g., 65 years old)
    const maxDate = new Date(currentDate);
    maxDate.setFullYear(maxDate.getFullYear() - 100);

    // Set the min and max attributes
    ageGuard.attr('max', minDate.toISOString().split('T')[0]);
    ageGuard.attr('min', maxDate.toISOString().split('T')[0]);
});
</script>
<!--end::JavaScript-->
{% endblock push_scripts %}