  <!-- Toaster alert-->
  <div class="toast-container position-fixed top-0 end-0 p-3">
    {% if messages %}
    {% for message in messages %}
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header ">
        {% comment %} <img src="..." class="rounded me-2" alt="..."> {% endcomment %}
        <strong class="me-auto text-{{message.tags}}">{{message.tags}}</strong>
        {% comment %} <small>11 mins ago</small> {% endcomment %}
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
        {{ message }}
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>