{% autoescape off %}
To initiate the password reset process for your {{ user.get_username }} Fabric Expo Management System Account,
click the link below:

Someone asked for password reset for email {{ email }}. Follow the link below:
{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}

If clicking the link above doesn't work, please copy and paste the URL in a new browser
window instead.

Please note that this link will expire in 5 minutes.

Sincerely,
The Fabric Expo Management System Team
{% endautoescape %}