{% extends "core/_base.html" %}

{% block title %}Import Recipients {% endblock title %}

{% block content %}
  <!--begin::Header-->
  {% include 'core/layouts/content_header.html' with page_name="Import Recipients From CSV" only%}
  <!--end::Header-->
  <!--begin::App Content-->
  <div class="app-content">
    <!--begin::Container-->
    <div class="container-fluid">
      <!--begin::Row-->
      <div class="">
        <!--begin::Col-->
        <!--begin::Form Validation-->
        <div class="card card-info card-outline mb-4">
          <!--begin::Header-->
          <div class="card-header">
            <div class="row">
              <div class="col-6">
                <div class="card-title">Import Recipients From CSV Form</div>
              </div>
              <div class="col-6 text-end">
                <a href="{% url 'bulk_wechat:generate_csv' %}" class="btn btn-success"> Download Demo File</a>
              </div>
            </div>
          </div>
          <!--end::Header-->
          <!--begin::Form-->
          <form method="POST" class="needs-validation" enctype="multipart/form-data"  novalidate>
            {% csrf_token %}
            <!--begin::Body-->
            <div class="card-body">
              <!--begin::Row-->
              <div class="row g-3">
                {{form}}
              </div>
              <!--end::Row-->
            </div>
            <!--end::Body-->
            <!--begin::Footer-->
            <div class="card-footer">
              <button class="btn btn-info" type="submit">Import Recipients</button>
              <button class="btn btn-secondary" type="button" onclick="window.history.back();">Cancel</button>
            </div>
            <!--end::Footer-->
          </form>
          <!--end::Form-->
          
        </div>
        <!--end::Form Validation-->

        <!--end::Col-->
      </div>
      
      <!-- /.row (main row) -->
    </div>
    <!--end::Container-->
  </div>
  <!--end::App Content-->

<!--begin:: Toaster alert -->
{% include 'core/components/alert/toaster.html' %}
<!--end:: Toaster alert-->
{% endblock content %}

{% block push_scripts %}
<!--begin::JavaScript-->
<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (() => {
    'use strict';

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll('.needs-validation');

    // Loop over them and prevent submission
    Array.from(forms).forEach((form) => {
      form.addEventListener(
        'submit',
        (event) => {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }

          form.classList.add('was-validated');
        },
        false,
      );
    });
  })();
</script>
<script>
    $(document).ready(function () {
      // toast alert
      $('.toast').toast({
        delay: 1000*20,
      }).toast('show')
      
    });
</script>
<!--end::JavaScript-->
{% endblock push_scripts %}
