{% extends "core/_base.html" %}

{% block title %}Compose New Email{% endblock title %}

{% block content %}
  <!--begin::Header-->
  {% include 'core/layouts/content_header.html' with page_name="Compose Email" only%}
  <!--end::Header-->
  <!--begin::App Content-->
  <div class="app-content">
    <!--begin::Container-->
    <div class="container-fluid">
      <!--begin::Row-->
      <div class="">
        <!--begin::Col-->
        <!--begin::Form Validation-->
        <div class="card card-info card-outline mb-4">
          <!--begin::Header-->
          <div class="card-header">
            <div class="card-title">Email Creation Form</div>
          </div>
          <!--end::Header-->
          <!--begin::Form-->
          {% block header %}
              {{ form.media }} 
          {% endblock %}

          <form method="POST" class="needs-validation"  enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            <!--begin::Body-->
            <div class="card-body">
              <!--begin::Row-->
              <div class="row g-3">
                {{form}}

                 <!-- <div>
                  <label class="form-label" for="attachment">Choose Files to Attach (Multiple selections allowed)</label>
                  <input class="form-control" id="attachment" type="file" name="attachment" multiple>
                </div>  -->
              </div>
              <!--end::Row-->
            </div>
            <!--end::Body-->
            <!--begin::Footer-->
            <div class="card-footer">
              <button class="btn btn-success" type="submit"><i class="fa-solid fa-floppy-disk"></i> Save Email</button>
              {% comment %} <button class="btn btn-success" type="button">Select Recipients</button> {% endcomment %}
              <button class="btn btn-secondary" type="button" onclick="window.location.href='{% url 'bulk_email:draft_list' %}'">Cancel</button>
            </div>
            <!--end::Footer-->
          </form>
          <!--end::Form-->
          
        </div>
        <!--end::Form Validation-->

        <!--end::Col-->
      </div>
      
      <!-- /.row (main row) -->
    </div>
    <!--end::Container-->
  </div>
  <!--end::App Content-->
  <!--begin:: Toaster alert -->
  {% include 'core/components/alert/toaster.html' %}
  <!--end:: Toaster alert-->

{% endblock content %}

{% block push_scripts %}
<!--begin::JavaScript-->
<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (() => {
    'use strict';

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll('.needs-validation');

    // Loop over them and prevent submission
    Array.from(forms).forEach((form) => {
      form.addEventListener(
        'submit',
        (event) => {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }

          form.classList.add('was-validated');
        },
        false,
      );
    });
  })();
</script>
<script>
    $(document).ready(function () {
      // toast alert
      $('.toast').toast({
        delay: 1000*20,
      }).toast('show')
    });
</script>


<!--end::JavaScript-->
{% endblock push_scripts %}
