{% extends "core/_base.html" %}
{% load static %}
{% load custom_filtertags %}

{% block title %}Buyer List{% endblock title %}

{% block push_css %}
    <!-- Datatable -->
    <link href="https://cdn.datatables.net/v/bs5/dt-2.2.1/r-3.0.3/datatables.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/select/3.0.0/css/select.dataTables.min.css" ref="stylesheet">
{% endblock push_css %}
      
{% block content %}

<!--begin::header-->
{% include 'core/layouts/content_header.html' with page_name="Buyer List"  only%}
<!--end::header-->
<!--begin::App Content-->
<div class="app-content">
    <!--begin::Container-->
    <div class="container-fluid">
      <div>
        <div class="form-check form-check-inline" style="margin-right:0 !important; padding-left:0 !important;">
          <input type="checkbox" class="btn-check" id="select-all" autocomplete="off">
          <label class="btn btn-outline-primary" for="select-all">Select All</label>
        </div>
        <button id="row_count" class="btn btn-info" disabled>Row count</button>
        {% if perms.business_data.delete_buyer %}
        <button id="delete-data" class="btn btn-danger">Delete</button>
        {% endif %}
      </div>

      <div>
        <table id="data_list" class="table table-striped" style="width:100%">
          {% comment %} <thead>
              <tr>
                  <th>#ID</th>
                  <th>{{'date'|pretty_label}}</th>
                  <th>{{'company_name'|pretty_label}}</th>
                  <th>{{'organization_type'|pretty_label}}</th>
                  <th>{{'brand'|pretty_label}}</th>
                  <th>{{'category'|pretty_label}}</th>
                  <th>{{'department'|pretty_label}}</th>
                  <th>{{'buyer_name'|pretty_label}}</th>
                  <th>{{'designation'|pretty_label}}</th>
                  <th>{{'coo'|pretty_label}}</th>
                  <th>{{'company_website'|pretty_label}}</th>
                  <th>{{'buyer_email_id'|pretty_label}}</th>
                  <th>{{'whatsapp_number'|pretty_label}}</th>
                  <th>{{'phone_number'|pretty_label}}</th>
                  <th>{{'payment_term'|pretty_label}}</th>
                  <th>{{'fabric_reference_dealing_with'|pretty_label}}</th>
                  <th>{{'mailing_address'|pretty_label}}</th>
                  <th>{{'visiting_address'|pretty_label}}</th>
                  <th>{{'linkedin_profile_link'|pretty_label}}</th>
                  <th>{{'remarks'|pretty_label}}</th>
                  <th>{{'concern_fe_representative'|pretty_label}}</th>
                  
              </tr>
          </thead> {% endcomment %}
          {% comment %} <tbody>
              {% for item in object_list %}
              <tr  data-id="{{item.id}}"> 
                  <td>{{forloop.counter}}</td>
                  <td>{{item.id}}</td>
                  <td>{{item.date}}</td>
                  <td>{{item.company_name}}</td>
                  <td>{{item.organization_type}}</td>
                  <td>{{item.brand}}</td>
                  <td>{{item.category}}</td>
                  <td>{{item.department}}</td>
                  <td>{{item.buyer_name}}</td>
                  <td>{{item.designation}}</td>
                  <td>{{item.country_of_origin}}</td>
                  <td>{{item.website}}</td>
                  <td>{{ item.emails.all|join:", " }}</td>
                  <td>
                    {% for object in item.phones.all %}
                      {% if  object.is_whatsapp  %}
                      {{object}}
                      {% endif %}
                    {% endfor %}
                  </td>
                  <td>
                    {% for object in item.phones.all %}
                      {% if not object.is_whatsapp and not object.is_wechat %}
                      {{object}}
                      {% endif %}
                    {% endfor %}
                  </td>
                  <td>{{item.payment_term}}</td>
                  <td>{{item.fabric_reference}}</td>
                  <td>{{item.mailing_address}}</td>
                  <td>{{item.visiting_address}}</td>
                  <td>{{item.linkedin_profile}}</td>
                  <td>{{item.remarks}}</td>
                  <td>{{item.concern_fe_rep}}</td>
              </tr>
              {% endfor %}
          </tbody> {% endcomment %}
          {% comment %} <tfoot>
              <tr>
                <th>#ID</th>
                <th>{{'date'|pretty_label}}</th>
                <th>{{'company_name'|pretty_label}}</th>
                <th>{{'organization_type'|pretty_label}}</th>
                <th>{{'brand'|pretty_label}}</th>
                <th>{{'category'|pretty_label}}</th>
                <th>{{'department'|pretty_label}}</th>
                <th>{{'buyer_name'|pretty_label}}</th>
                <th>{{'designation'|pretty_label}}</th>
                <th>{{'coo'|pretty_label}}</th>
                <th>{{'company_website'|pretty_label}}</th>
                <th>{{'buyer_email_id'|pretty_label}}</th>
                <th>{{'whatsapp_number'|pretty_label}}</th>
                <th>{{'phone_number'|pretty_label}}</th>
                <th>{{'payment_term'|pretty_label}}</th>
                <th>{{'fabric_reference_dealing_with'|pretty_label}}</th>
                <th>{{'mailing_address'|pretty_label}}</th>
                <th>{{'visiting_address'|pretty_label}}</th>
                <th>{{'linkedin_profile_link'|pretty_label}}</th>
                <th>{{'remarks'|pretty_label}}</th>
                <th>{{'concern_fe_representative'|pretty_label}}</th>
                
              </tr>
          </tfoot> {% endcomment %}
        </table>
      </div>
    </div>
    <!--end::Container-->
</div>
<!--end::App Content-->
{% endblock content %}



{% block push_scripts %}
<!-- Datatable-->
<script src="https://cdn.datatables.net/v/bs5/dt-2.2.1/r-3.0.3/datatables.min.js"></script>
<script src="https://cdn.datatables.net/select/3.0.0/js/dataTables.select.min.js"></script>

<script>

    // Datatable 
    const table = $('#data_list').DataTable({
      responsive: true,
      processing: true,
      serverSide: true,
      // ajax      : "{% url 'business_data:buyer-data-source' %}",
      ajax      : {
          url: "{% url 'business_data:buyer-data-source' %}",
          type: "POST",
          headers: {
              "X-CSRFToken": "{{csrf_token}}"
          }
      },
      columns   :[
        { data: 'id', title: '#ID' },
        { data: 'date', title: 'Date' },
        { data: 'company_name', title: 'Company Name' },
        { data: 'organization_type', title: 'Organization Type' },
        { data: 'brand', title: 'Brand' },
        { data: 'category', title: 'Category' },
        { data: 'department', title: 'Department' },
        { data: 'buyer_name', title: 'Buyer Name' },
        { data: 'designation', title: 'Designation' },
        { data: 'country_of_origin', title: 'COO' },
        { data: 'website', title: 'Company Website' },
        { data: 'emails', title: 'Buyer Email ID', render: function(data) { return Array.isArray(data) ? data.join(', ') : data; } },
        { data: 'whatsapp_numbers', title: 'Whatsapp Number', render: function(data) { return Array.isArray(data) ? data.join(', ') : data; } },
        { data: 'phones', title: 'Phone Number', render: function(data) { return Array.isArray(data) ? data.join(', ') : data; } },
        { data: 'payment_term', title: 'Payment Term' },
        { data: 'fabric_reference', title: 'Fabric Reference Dealing With' },
        { data: 'mailing_address', title: 'Mailing Address' },
        { data: 'visiting_address', title: 'Visiting Address' },
        { data: 'linkedin_profile', title: 'Linkedin Profile Link' },
        { data: 'remarks', title: 'Remarks' },
        { data: 'concern_fe_rep', title: 'Concern FE Representative' },
        { data: 'action', title: 'Action' },
      ]


    });

    // toggle select data_list
    $('#data_list tbody').on('click', 'tr', function() {
      $(this).toggleClass('selected');
      updateRowCount();
    });

    // Show row count 
    function updateRowCount() {
      const count = table.rows('.selected').data().length;
      $('#row_count').text(count + ' row(s) selected');
    }
    
    // Handle "Select All" checkbox click event
    $('#select-all').on('click', function() {
      var rows = table.rows({ 'search': 'applied' }).nodes();
      if (this.checked) {
          $(rows).addClass('selected');
      } else {
          $(rows).removeClass('selected');
      }
      updateRowCount();
    });

    // Handle individual row click event to update "Select All" checkbox state
    $('#data_list tbody').on('click', 'tr', function() {
      var allChecked = table.rows({ 'search': 'applied' }).nodes().length === table.rows('.selected', { 'search': 'applied' }).nodes().length;
      $('#select-all').prop('checked', allChecked);
    });
    
    // Initial update of the row count button text
    updateRowCount();
    
         
    // delete-data button click event to send selected column data to backend
    $('#delete-data').on('click', function(e) {
      const selectedIds = [];
      $('#data_list tbody tr.selected').each(function(e) {
        selectedIds.push($(this).data('id'));
      });   
      

      if (selectedIds.length === 0){
        Swal.fire({
          icon: 'info', 
          text: "Please select row first!"
        });
      }else{
        Swal.fire({
            title: "Are you sure you want to delete the selected items?",
            text: "This action cannot be undone. Once deleted.",
          showCancelButton: true,
          confirmButtonText: "Delete",
        }).then((result) => {
          /* Read more about isConfirmed, isDenied below */
          if (result.isConfirmed) {
            // Show loader
            Swal.fire({
              title: 'Deleting...',
              text: 'Please wait while we delete the selected items.',
              allowOutsideClick: false,
              allowEscapeKey: false,
              didOpen: () => {
                Swal.showLoading();
              }
            });

            $.ajax({
              //url: "#",  // Replace with your backend endpoint
              url: "{% url 'business_data:delete-buyers' %}",  
              type: 'POST',
              data: {
                selectedIds: selectedIds,
                csrfmiddlewaretoken: '{{ csrf_token }}'  // Include CSRF token for security
              },
              success: function(response) {
                Swal.fire({
                  position: "center",
                  icon: "success",
                  text: response.message,
                  showConfirmButton: true,
                }).then((result) => {
                    location.reload();
                });
              },
              error: function(xhr, status, error) {
                Swal.fire({
                  icon: "error",
                  title: "Oops...",
                  text: "Something went wrong!",
                });
              }
            });

          } 
        });
        
      }
    });


</script>
{% endblock push_scripts %}