{% extends "core/_base.html" %}
{% load custom_filtertags %}

{% block title %}Import Products {% endblock title %}


{% block push_css %}
<!--Datatable -->
<link href="https://cdn.datatables.net/v/bs5/dt-2.2.1/r-3.0.3/datatables.min.css" rel="stylesheet">
{% endblock push_css %}


{% block content %}
  <!--begin::Header-->
  {% include 'core/layouts/content_header.html' with page_name="Import Products From CSV" only%}
  <!--end::Header-->
    <!--begin::App Content-->
  <div class="app-content">
    <!--begin::Container-->
    <div class="container-fluid">
      <!--begin::Row-->
      <div class="">
        <!--begin::Col-->
        <!--begin::Form Validation-->
        <div class="card card-info card-outline mb-4">
          <!--begin::Header-->
          <div class="card-header">
            <div class="card-title">Preview Products Information</div>
          </div>
          <!--end::Header-->
          <div class="p-3">
            <div class="pb-3">
              <h4>Data sheet Info</h4>
              <ul class="list-group">
                <li class="list-group-item"><a href="{{file_info.url}}">Download Sheet</a></li>
                <li class="list-group-item">File Name : {{file_info.name}}</li>
                <li class="list-group-item">Uploaded at: {{file_info.uploaded_at}}</li>
              </ul>
            </div>
              <form  method="post">
                {% csrf_token %}

                <table id="products" class="table table-striped" style="width:100%">
                  <thead>
                      <tr>
                          <th>Count</th>
                          <th>{{'date'|pretty_label}}</th>
                          <th>{{'article_no'|pretty_label}}</th>
                          <th>{{'fabric_article (Supplier)'|pretty_label}}</th>
                          <th>{{'fabric_article (Fabric Expo)'|pretty_label}}</th>
                          <th>{{'fabric_mill (supplier)'|pretty_label}}</th>
                          <th>{{'rd_generated_date'|pretty_label}}</th>
                          <th>{{'fabric_mill (source)'|pretty_label}}</th>
                          <th>{{'coo'|pretty_label}}</th>
                          <th>{{'product_category'|pretty_label}}</th>
                          <th>{{'mill_reference/article'|pretty_label}}</th>
                          <th>{{'fabric_expo_reference/article'|pretty_label}}</th>
                          <th>{{'season'|pretty_label}}</th>
                          <th>{{'style'|pretty_label}}</th>
                          <th>{{'po'|pretty_label}}</th>
                          <th>{{'customer_name'|pretty_label}}</th>
                          <th>{{'composition'|pretty_label}}</th>
                          <th>{{'construction'|pretty_label}}</th>
                          <th>{{'weight'|pretty_label}}(GSM/OZ)</th>
                          <th>{{'color'|pretty_label}}</th>
                          <th>{{'cut_width (inch)'|pretty_label}}</th>
                          <th>{{'wash'|pretty_label}}</th>
                          <th>{{'price (yards)'|pretty_label}}</th>
                          <th>{{'shrinkage%'|pretty_label}}</th>
                          <th>{{'available/ stock_qty'|pretty_label}}</th>
                          <!-- <th>{{'images'|pretty_label}}</th>
                          <th>{{'barcode'|pretty_label}}</th>
                          <th>{{'qr_code'|pretty_label}}</th> -->
                          <th>{{'concern_person'|pretty_label}}</th>
                          <th>{{'remarks'|pretty_label}}</th>

                      </tr>
                  </thead>
                  <tbody>
                      {% for item in products %}
                      <tr>
                          <td>
                            {{forloop.counter}}
                          </td>
                            <td>
                            {% if item.duplicates.date %}
                              <mark>{{ item.date }}</mark>
                            {% else %}
                              {{ item.date }}
                            {% endif %}
                            </td>
                            <td>
                            {% if item.duplicates.article_no %}
                              <mark>{{ item.article_no }}</mark>
                            {% else %}
                              {{ item.article_no }}
                            {% endif %}
                            </td>
                            <td>
                            {% if item.duplicates.fabric_article_supplier %}
                              <mark>{{ item.fabric_article_supplier }}</mark>
                            {% else %}
                              {{ item.fabric_article_supplier }}
                            {% endif %}
                            </td>
                            <td>
                            {% if item.duplicates.fabric_article_fexpo %}
                              <mark>{{ item.fabric_article_fexpo }}</mark>
                            {% else %}
                              {{ item.fabric_article_fexpo }}
                            {% endif %}
                            </td>
                            <td>
                            {% if item.duplicates.fabric_mill_supplier %}
                              <mark>{{ item.fabric_mill_supplier }}</mark>
                            {% else %}
                              {{ item.fabric_mill_supplier }}
                            {% endif %}
                            </td>
                            <td>
                            {% if item.duplicates.rd_generated_date %}
                              <mark>{{ item.rd_generated_date }}</mark>
                            {% else %}
                              {{ item.rd_generated_date }}
                            {% endif %}
                            </td>
                            <td>
                            {% if item.duplicates.fabric_mill_source %}
                              <mark>{{ item.fabric_mill_source }}</mark>
                            {% else %}
                              {{ item.fabric_mill_source }}
                            {% endif %}
                            </td>
                            <td>
                            {% if item.duplicates.coo %}
                              <mark>{{ item.coo }}</mark>
                            {% else %}
                              {{ item.coo }}
                            {% endif %}
                            </td>
                            <td>
                            {% if item.duplicates.product_category %}
                              <mark>{{ item.product_category }}</mark>
                            {% else %}
                              {{ item.product_category }}
                            {% endif %}
                            </td>
                            <td>
                            {% if item.duplicates.mill_reference %}
                              <mark>{{ item.mill_reference }}</mark>
                            {% else %}
                              {{ item.mill_reference }}
                            {% endif %}
                            </td>
                            <td>
                            {% if item.duplicates.fabricexpo_reference %}
                              <mark>{{ item.fabricexpo_reference }}</mark>
                            {% else %}
                              {{ item.fabricexpo_reference }}
                            {% endif %}
                            </td>
                            <td>
                            {% if item.duplicates.season %}
                              <mark>{{ item.season }}</mark>
                            {% else %}
                              {{ item.season }}
                            {% endif %}
                            </td>
                            <td>
                            {% if item.duplicates.style %}
                              <mark>{{ item.style }}</mark>
                            {% else %}
                              {{ item.style }}
                            {% endif %}
                            </td>
                            <td>
                            {% if item.duplicates.po %}
                              <mark>{{ item.po }}</mark>
                            {% else %}
                              {{ item.po }}
                            {% endif %}
                            </td>
                            <td>
                            {% if item.duplicates.customer_name %}
                              <mark>{{ item.customer_name }}</mark>
                            {% else %}
                              {{ item.customer_name }}
                            {% endif %}
                            </td>
                            <td>
                            {% if item.duplicates.composition %}
                              <mark>{{ item.composition }}</mark>
                            {% else %}
                              {{ item.composition }}
                            {% endif %}
                            </td>
                            <td>
                            {% if item.duplicates.construction %}
                              <mark>{{ item.construction }}</mark>
                            {% else %}
                              {{ item.construction }}
                            {% endif %}
                            </td>
                            <td>
                            {% if item.duplicates.weight %}
                              <mark>{{ item.weight }}</mark>
                            {% else %}
                              {{ item.weight }}
                            {% endif %}
                            </td>
                            <td>
                            {% if item.duplicates.color %}
                              <mark>{{ item.color }}</mark>
                            {% else %}
                              {{ item.color }}
                            {% endif %}
                            </td>
                            <td>
                            {% if item.duplicates.cut_width %}
                              <mark>{{ item.cut_width }}</mark>
                            {% else %}
                              {{ item.cut_width }}
                            {% endif %}
                            </td>
                            <td>
                            {% if item.duplicates.wash %}
                              <mark>{{ item.wash }}</mark>
                            {% else %}
                              {{ item.wash }}
                            {% endif %}
                            </td>
                            <td>
                            {% if item.duplicates.price_per_yard %}
                              <mark>{{ item.price_per_yard }}</mark>
                            {% else %}
                              {{ item.price_per_yard }}
                            {% endif %}
                            </td>
                            <td>
                            {% if item.duplicates.shrinkage_percent %}
                              <mark>{{ item.shrinkage_percent }}</mark>
                            {% else %}
                              {{ item.shrinkage_percent }}
                            {% endif %}
                            </td>
                            <td>
                            {% if item.duplicates.stock_qty %}
                              <mark>{{ item.stock_qty }}</mark>
                            {% else %}
                              {{ item.stock_qty }}
                            {% endif %}
                            </td>
                            
                            <td>
                            {% if item.duplicates.concern_person %}
                              <mark>{{ item.concern_person }}</mark>
                            {% else %}
                              {{ item.concern_person }}
                            {% endif %}
                            </td>
                            <td>
                            {% if item.duplicates.remarks %}
                              <mark>{{ item.remarks }}</mark>
                            {% else %}
                              {{ item.remarks }}
                            {% endif %}
                            </td>
                      </tr>
                      {% endfor %}
                  </tbody>
                  <tfoot>
                      <tr>
                          <th>Count</th>
                          <th>{{'date'|pretty_label}}</th>
                          <th>{{'article_no'|pretty_label}}</th>
                          <th>{{'fabric_article (Supplier)'|pretty_label}}</th>
                          <th>{{'fabric_article (Fabric Expo)'|pretty_label}}</th>
                          <th>{{'fabric_mill (supplier)'|pretty_label}}</th>
                          <th>{{'rd_generated_date'|pretty_label}}</th>
                          <th>{{'fabric_mill (source)'|pretty_label}}</th>
                          <th>{{'coo'|pretty_label}}</th>
                          <th>{{'product_category'|pretty_label}}</th>
                          <th>{{'mill_reference/article'|pretty_label}}</th>
                          <th>{{'fabric_expo_reference/article'|pretty_label}}</th>
                          <th>{{'season'|pretty_label}}</th>
                          <th>{{'style'|pretty_label}}</th>
                          <th>{{'po'|pretty_label}}</th>
                          <th>{{'customer_name'|pretty_label}}</th>
                          <th>{{'composition'|pretty_label}}</th>
                          <th>{{'construction'|pretty_label}}</th>
                          <th>{{'weight'|pretty_label}}(GSM/OZ)</th>
                          <th>{{'color'|pretty_label}}</th>
                          <th>{{'cut_width (inch)'|pretty_label}}</th>
                          <th>{{'wash'|pretty_label}}</th>
                          <th>{{'price (yards)'|pretty_label}}</th>
                          <th>{{'shrinkage%'|pretty_label}}</th>
                          <th>{{'available/ stock_qty'|pretty_label}}</th>
                          <!-- <th>{{'images'|pretty_label}}</th>
                          <th>{{'barcode'|pretty_label}}</th>
                          <th>{{'qr_code'|pretty_label}}</th> -->
                          <th>{{'concern_person'|pretty_label}}</th>
                          <th>{{'remarks'|pretty_label}}</th>
                      </tr>
                  </tfoot>
                </table>

                <!--begin::Form-->
                <div class="text-center">
                  <button name="action" value="confirm" class="btn btn-success" type="submit">Confirm and Save</button>
                  <button name="action" value="cancel" class="btn btn-secondary" type="submit">Cancel</button>
                </div>
              </form>

                
          </div>
        </div>

        <!--end::Col-->
      </div>
      
      <!-- /.row (main row) -->
    </div>
    <!--end::Container-->
  </div>
  <!--end::App Content-->


<!--begin:: Toaster alert -->
{% include 'core/components/alert/toaster.html' %}
<!--end:: Toaster alert-->
{% endblock content %}

{% block push_scripts %}

<!-- Datatable-->
<script src="https://cdn.datatables.net/v/bs5/dt-2.2.1/r-3.0.3/datatables.min.js"></script>


<script>
    $(document).ready(function () {
      // toast alert
      $('.toast').toast({
        delay: 1000*20,
      }).toast('show')

      $('#products').DataTable( {
          responsive: true
      } );

      
    });
</script>
<!--end::JavaScript-->
{% endblock push_scripts %}
